.container{
  
    padding-top: 40px;
    min-height: 90vh;
  max-width: 60vh;
  }
  .box{
  
  display: flex;
  justify-content: space-between;
  }
  .mb-3{
    padding: 20px;
  }
  button{
   margin-left: 20px;
   margin-right: 20px;
  }