<nav class="shadow navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <div class="container-fluid">
        <div class="mx-5 d-flex">
            <div><a class="navbar-brand" routerLink=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9_HgBoFXIfBLGiBrUPShz9SIzWA5UeoOm0A&usqp=CAU"></a></div>
             <div><h4 class="mt-3 hddn" style="color:white;">MEDchase</h4></div>
        </div>      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2">
                <li class="nav-item mx-3">
                  <a class="nav-link active" aria-current="page" routerLink="" >Home</a>
                </li>
               
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/admin"  >Admin</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/login"  >LogIn</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/signup" >SignUp</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/cart"  *ngIf="_auth.userloggedIn()" >Cart</a>
                </li>
              </ul>

              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn " type="submit"  style="color:white;" >Search</button>
              </form>
        <div>
        </div>
      </div>
    </div>
  

  

    </nav>
